@use 'src/styles/style-vars.scss' as *;

::ng-deep .cookie-privacy-container {
  background-color: $background-color-form;
  width: 95vw;
  max-width: 900px;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  display: block;
  font-family:
    system-ui,
    -apple-system;
}

.privacy-content {
  padding: 1rem;
  word-wrap: break-word;
  box-sizing: border-box;
}

h1 {
  color: $text-color-black;
  font-size: 2.5rem;
}

h2 {
  color: $text-color-black;
  font-size: 1.5rem;
}

p {
  color: $text-color;
  font-size: 1em;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
