<div class="cookie-privacy-container">
  <div class="privacy-content">
    <h1>Datenschutzerklärung</h1>

    <p>
      Wir nehmen den Schutz eurer persönlichen Daten sehr ernst und behandeln
      personenbezogenen Daten vertraulich und entsprechend den gesetzlichen
      Datenschutzvorschriften sowie dieser Datenschutzerklärung.
    </p>

    <h2>1. Allgemeine Hinweise</h2>
    <p>
      Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
      Ihren personenbezogenen Daten passiert, wenn Du unsere Webseite besuchst.
      Personenbezogene Daten sind alle Daten, mit denen du persönlich
      identifiziert werden kannst.
    </p>

    <h2>2. Cookies</h2>
    <p>
      Unsere Webseite verwendet so genannte
      <strong
        ><a href="https://developer.mozilla.org/de/docs/Web/HTTP/Guides/Cookies"
          >Cookies</a
        ></strong
      >. Dies sind kleine Textdateien, die Browser auf Client-Endgeräten
      speichern. Cookies richten keinen Schaden an und enthalten keine Viren.
    </p>
    <p>
      <strong>Cookies setzen wir ein, um:</strong><br />
      - Die Funktionalität der Seite zu verbessern<br />
      - Benutzereinstellungen zu speichern<br />
      - Damit unser Ticket-Store funktioniert, weitere Infos:
      <strong
        ><a href="https://woocommerce.com/document/woocommerce-cookies/"
          >WooCommerce Cookies</a
        ></strong
      >.
    </p>

    <p>
      Du kannst die Verwendung von Cookies in den Einstellungen Ihres Browsers
      steuern und blockieren, aber einige Funktionen der Webseite könnten
      dadurch eingeschränkt sein. Mehr dazu
      <strong><a href="https://cookiesandyou.com">hier</a></strong
      >.
    </p>

    <h2>3. Datenschutzerklärung für Google Analytics</h2>
    <p>
      Diese Webseite nutzt Funktionen des Webanalysedienstes Google Analytics.
      Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA
      94043, USA.
    </p>

    <h2>4. Rechte von Website-Nutzern</h2>
    <p>
      Nutzer haben jederzeit das Recht auf Auskunft über ihre gespeicherten
      personenbezogenen Daten, deren Herkunft, Empfänger und den Zweck der
      Speicherung. Nutzer haben auch das Recht, die Berichtigung, Löschung oder
      Einschränkung der Verarbeitung ihrer personenbezogenen Daten zu verlangen.
    </p>

    <h2>5. Änderungen dieser Datenschutzerklärung</h2>
    <p>
      Wir behalten uns vor, diese Datenschutzerklärung regelmäßig zu ändern, um
      sie an geänderte rechtliche Anforderungen oder Webseiten-Funktionalitäten
      anzupassen.
    </p>
  </div>
</div>
