@use 'src/styles/style-vars.scss' as *;

.cookie-privacy-container {
  max-width: 900px;
  font-family: Arial, sans-serif;
  background-color: $background-color-form;
  width: 100%; // Ensures it scales on mobile
  box-sizing: border-box;
}

.privacy-content {
  max-width: 95vw;
  padding: 1rem;
  overflow-wrap: break-word; /* Ensures long words break */
  word-wrap: break-word; /* Compatibility for older browsers */
  white-space: normal; /* Allows text to wrap */
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 2.5rem;
}

h2 {
  color: #555;
  font-size: 1.5rem;
}

p {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
