@use 'src/styles/style-vars.scss' as *;

/* .cookie-privacy-container {
  background-color: $background-color-form;
  width: 95%;
  height: 100%;
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  display: block;
}

::ng-deep .privacy-content {
  padding: 1rem;

  p {
    color: $text-color;
    line-height: 1.5;
  }

  li {
    color: $text-color;
    font-size: 1em;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
} */
