<div class="card-container">
  <mat-card
    class="product-card"
    (click)="onProductSelect($event)"
    [ngClass]="{ selected: isSelectedSignal() }"
    matTooltip="{{ productTooltip() }}"
    [matTooltipPosition]="'above'"
    matTooltipHideDelay="200"
    matTooltipShowDelay="100"
    tabindex="0"
  >
    <img
      [src]="product.images[0].thumbnail"
      [srcset]="product.images[0].srcset"
      sizes="(max-width: 600px) 100vw, (max-width: 1024px) 80vw, 1728px"
      [alt]="product.images[0].alt"
      class="product-image"
    />
    <h3 class="product-title">{{ product.name }}</h3>
    <button mat-raised-button (click)="openDetailsDialog($event)">
      Beschreibung
    </button>
  </mat-card>
</div>
