<div class="product-details-dialog">
  <button
    mat-icon-button
    aria-label="close dialog"
    (click)="closeDialog()"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <section>
    <h2>{{ product.name }}</h2>
  </section>
  <mat-divider />
  <section>
    <div class="image-container">
      <img
        [src]="product.images[0].thumbnail"
        [srcset]="product.images[0].srcset"
        sizes="(max-width: 600px) 100vw, (max-width: 1024px) 80vw, 1728px"
        [alt]="product.images[0].alt"
        class="product-detail-image"
      />
    </div>
  </section>
  <mat-divider />
  <div class="product-content">
    <p [innerHTML]="this.product.description | safeHtml"></p>
  </div>
</div>
