<div class="content-wrapper">
  <h3>Ein paar wichtige Infos...</h3>
  <div class="pdf-downloads">
    <app-pdf-download-viewer [srcLink]="pdfUrl()" />
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let tab of tabs()">
      <mat-expansion-panel-header>
        <mat-icon>{{ tab.icon }}</mat-icon>
        <span>{{ tab.label }}</span>
      </mat-expansion-panel-header>
      <div class="tab-content" [innerHTML]="tab.content | safeHtml"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
