<div class="footer" *ngIf="product()">
  <div class="footer-content">
    <div class="left-container">
      <h4>Schicht: {{ product()?.name }}</h4>
      <p>Produkt-ID: {{ product()?.id }}</p>
    </div>
    <div class="middle-container">
      <div *ngIf="isProductVariable()">
        <mat-form-field
          appearance="fill"
          style="width: 100%; max-width: 400px"
          [matTooltip]="tooltipMessage()"
        >
          <mat-label>Wähle eine Schicht</mat-label>
          <mat-select
            [formControl]="selectForm.controls.variationId"
            panelWidth="auto"
            [required]="variations() ? true : false"
            [disableControl]="!variations()"
          >
            <mat-option *ngFor="let option of variations()" [value]="option.id">
              {{ option.variation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="right-container">
      <section>
        <div class="checkout-button-row">
          <button mat-raised-button (click)="checkout()">
            <mat-label class="checkout-label">Weiter zum Checkout</mat-label>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
