<div class="footer" *ngIf="product()">
  <div class="footer-content">
    <div class="left-container">
      <h4>Schicht: {{ product()?.name }}</h4>
      <p>Produkt-ID: {{ product()?.id }}</p>
    </div>
    <div class="middle-container">
      <div *ngIf="isProductVariable()">
        <mat-form-field appearance="fill" style="width: 100%; max-width: 400px">
          <mat-label>Wähle eine Schicht</mat-label>
          <mat-select panelWidth="auto">
            <mat-option *ngFor="let option of variations()" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="right-container">
      <button mat-raised-button color="primary" (click)="checkout()">
        Checkout
      </button>
    </div>
  </div>
</div>
