@use './styles/style-vars.scss' as *;

.crew-container {
  display: block;
  place-content: center; /* Horizontal centering */
  height: 100%;
}

.order-table {
  overflow: auto;
}

.status-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all; // avoid word break in status cell
}

.status-head {
  text-align: center;
}

.price-cell {
  text-align: right;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;

  .bulk-menu {
    margin-top: 1rem;
  }

  button[mat-icon-button] {
    border: 0.5px dashed grey;

    &:enabled {
      box-shadow: $shadow-sm;
      border: 0.5px solid darkgray;
    }
  }
}

td[mat-footer-cell] {
  border-top: 3px double black;
  font-weight: 500;
}
