@use './styles/style-vars.scss' as *;

.toolbar-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

@media (max-width: $breakpoint-mobile-tilt) {
  .toolbar-row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
