<div>
  <p-toolbar>
    <ng-template #start>
      <div class="toolbar-row">
        <p-inputGroup>
          <p-inputgroup-addon>
            <i class="pi pi-search"></i>
          </p-inputgroup-addon>

          <input
            type="text"
            pInputText
            placeholder="Keyword Filter"
            [ngModel]="keywordFilter()"
            (ngModelChange)="onFilterChange($event)"
          />

          <p-inputgroup-addon [style.padding]="'0'">
            <p-selectButton
              [options]="nameFilterOptions"
              [(ngModel)]="selectedFilters"
              optionValue="value"
              [multiple]="true"
              (ngModelChange)="onFilterTypeChange($event)"
              size="small"
            >
              <ng-template #item let-item>
                <i
                  [class]="item.icon"
                  [pTooltip]="item.tooltip"
                  tooltipPosition="top"
                ></i>
              </ng-template>
            </p-selectButton>
          </p-inputgroup-addon>
        </p-inputGroup>
      </div>
    </ng-template>

    <ng-template #center> </ng-template>

    <ng-template #end>
      <p-multiselect
        [options]="yearOptions"
        [(ngModel)]="selectedYears"
        [filter]="false"
        [showToggleAll]="false"
        placeholder="Alle"
        [maxSelectedLabels]="3"
        (ngModelChange)="onScopeYearChange($event)"
        inputId="year"
        display="chip"
        pTooltip="Festivaljahre"
      />
      <div class="toolbar-row">
        <ng-container *ngFor="let btn of buttonConfigs">
          <p-button
            [disabled]="actionsDisabled()"
            [icon]="btn.icon"
            raised
            [severity]="btn.severity"
            [pTooltip]="btn.tooltip"
            tooltipPosition="bottom"
          ></p-button>
        </ng-container>
      </div>
    </ng-template>
  </p-toolbar>
</div>
