<div class="list-container">
  <p-toolbar>
    <ng-template #start></ng-template>
    <ng-template #end>
      <p-button
        (click)="exportToPDF()"
        label="Export to PDF"
        severity="secondary"
        size="small"
      ></p-button>
    </ng-template>
  </p-toolbar>
  <p-treetable
    [value]="treeNodes()"
    [columns]="columns"
    [scrollable]="true"
    [styleClass]="'p-treetable-sm'"
    [loading]="loading$ | async"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [style.width]="col.width">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr [ttRow]="rowNode">
        <td
          *ngFor="let col of columns; let i = index"
          [style.width]="col.width"
        >
          <p-treetable-toggler [rowNode]="rowNode" *ngIf="i === 0" />
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
        <td *ngFor="let col of columns" [style.width]="col.width">
          <span *ngIf="col.showFooter" style="font-weight: bold">
            {{ sumColumn(col.field) }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-treetable>
</div>
