<div class="disclaimer-container" tabindex="-2">
  <form class="billing_address" [formGroup]="formG" (ngSubmit)="onSubmit()">
    <div class="disclaimer-content">
      <h4>Disclaimer</h4>
      @if (content(); as c) {
        <div class="disclaimer-text" [innerHTML]="c | safeHtml"></div>
      }
      <div class="diclaimer-checkbox">
        <mat-checkbox
          formControlName="understood"
          labelPosition="after"
        ></mat-checkbox>
        Ich habe den Hinweis verstanden
        <mat-error *ngIf="hasError(understood, 'required')">
          Die Bestätigung der Gebote ist erforderlich.
        </mat-error>
      </div>

      <textarea
        id="experience"
        formControlName="experience"
        placeholder="Hast du bereits Erfahrung im Awareness-Bereich oder bist du mit dem medizinischen und/ oder sozialen Bereich vertraut? Teile deine Erfahrung gerne kurz mit! (max 300 Zeichen)"
        rows="4"
        maxlength="300"
      ></textarea>

      <div class="button-section">
        <button
          class="slimline submit-button"
          mat-raised-button
          type="submit"
          [disabled]="formG.invalid"
        >
          <mat-icon>check</mat-icon> OK
        </button>

        <button
          mat-raised-button
          (click)="onClose($event)"
          class="slimline"
          type="button"
        >
          <mat-icon>close</mat-icon> Lieber nicht
        </button>
      </div>
    </div>
  </form>
</div>
