<div class="ticket-container">
  <h2>Schichten</h2>
  <!-- loading progress for checkout -->
  <div *ngIf="viewLoading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div class="product-container">
    <div class="product-grid">
      <div class="product-grid-item" *ngFor="let product of products()">
        <product
          [product]="product"
          [selectedProductId]="currentSelectedId"
          (productSelected)="onProductSelected($event)"
        ></product>
      </div>
    </div>

    <app-disclaimer
      *ngIf="
        !selectedProductValidDisclaimer() && selectedProductHasDisclaimer()
      "
      (abortDisclaimer)="onCloseDisclaimer($event)"
      (formValuesSubmit)="onDisclaimerSubmitted($event)"
    ></app-disclaimer>

    @if (selectedProduct(); as p) {
      <app-product-details
        [product]="p"
        [isProductVariable]="!currentSelectedSingle"
        [productVariations]="selectedProductVariations()"
        [crossSaleItems]="crossSaleProducts()"
      ></app-product-details>
    }
  </div>
</div>

<!-- loading spinner for an individual product and their variations -->
<div class="fixed-spinner" *ngIf="productsLoading()">
  <mat-spinner [diameter]="35" />
</div>
