<div class="ticket-container">
  <h2>Schichten</h2>
  <!-- loading progress for checkout -->
  <div *ngIf="viewLoading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div class="product-container">
    <div class="product-grid">
      <div class="product-grid-item" *ngFor="let product of products()">
        <product
          [product]="product"
          [selectedProductId]="this.selectedProductId()"
          (productSelected)="onProductSelected($event)"
        ></product>
      </div>
    </div>

    <app-disclaimer
      *ngIf="!selectedProductValidDisclaimer() && selectedProduct() as p"
      [disclaimerId]="this.selectedProductId()"
      [product]="p"
      (abortDisclaimer)="onCloseDisclaimer($event)"
      (formValuesSubmit)="onDisclaimerSubmitted($event)"
    ></app-disclaimer>

    <app-product-details
      [hidden]="!selectedProduct()"
      [product]="selectedProduct()"
      [isProductVariable]="isSelectedProductVariable()"
      [productVariations]="selectedProductVariations()"
      [crossSaleItems]="crossSaleProducts()"
    ></app-product-details>
  </div>
</div>

<!-- loading spinner for an individual product and their variations -->
<div class="fixed-spinner" *ngIf="productsLoading()">
  <mat-spinner [diameter]="35" />
</div>
