.calendar-paginator {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  span {
    min-width: 240px;
    text-align: center;
    white-space: nowrap;
  }

  button {
    flex-shrink: 0;
  }
}

.view-selector {
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
}
