<div class="calendar-toolbar">
  <mat-radio-group [(ngModel)]="view">
    <mat-radio-button value="month">Monatsansicht</mat-radio-button>
    <mat-radio-button value="day">Tagesansicht</mat-radio-button>
  </mat-radio-group>
  <div class="calendar-pageinator">
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-icon-button (click)="previousDay($event)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{
      viewDate() | date: 'EEEE, d. MMM yyyy' : '' : timeUtil.locale
    }}</span>
    <button mat-icon-button (click)="nextDay($event)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
<div>
  @switch (view) {
    @case ('month') {
      <mwl-calendar-month-view
        [viewDate]="viewDate()"
        [events]="calendarEntries()"
        [locale]="timeUtil.locale"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
      />
    }
    @case ('day') {
      <mwl-calendar-day-view
        [viewDate]="viewDate()"
        [events]="calendarEntries()"
        [locale]="timeUtil.locale"
        (beforeViewRender)="beforeDayViewRender($event)"
      />
    }
  }
</div>
