<div class="home-container">
  <!-- Top Image -->
  <div class="image-container">
    <img
      ngSrc="./public/konfusius_cropped.jpg"
      fill
      priority
      alt="konfusius"
      class="header-image"
    />
  </div>

  <!-- Title -->
  <h1 class="title">Konfusius Festival VI</h1>

  <!-- New Grid Layout - 2 columns -->
  <div class="main-grid">
    <!-- Left Column - Main Content-->
    <section class="content-section">
      <div class="content-wrapper">
        <h2>
          Ihr Tanzbegierdigen, Wiedermalabschaltenden & Frischluftgenießenden
        </h2>
        @if (intro; as p) {
          <div [innerHTML]="p.content.rendered | safeHtml"></div>
        }
        @if (konfusius; as p) {
          <div [innerHTML]="p.content.rendered | safeHtml"></div>
        }
        <div class="letter-button-container">
          <span>Ein schönes Gedicht</span>
          <img
            width="150"
            height="130"
            class="letter-button"
            ngSrc="./public/scroll.png"
            alt="scroll"
            (click)="openLetterDialog($event)"
            (keydown)="openLetterDialog($event)"
          />
        </div>
      </div>
    </section>

    <!-- Right Column - Info Box -->
    <section class="right-column">
      <!-- Info Boxes -->
      @if (eckdaten; as p) {
        <app-info-box [content]="p.content.rendered" title="Eckdaten" />
      }
      @if (programm_short; as p) {
        <app-info-box [content]="p.content.rendered" title="Programm" />
      }
      @if (suggestions; as p) {
        <app-info-box [content]="p.content.rendered" title="" />
      }
    </section>
  </div>

  <!-- Bottom Section -->
  <div class="slider-container">
    <app-image-container />
  </div>
  <section class="info-tabs-section"><app-info-tabs /></section>
</div>
