<div class="home-container">
  <!-- Top Image -->
  <div class="image-container">
    <img
      src="assets/konfusius_cropped.jpg"
      alt="konfusius"
      class="header-image"
    />
  </div>

  <!-- Title -->
  <h1 class="title">Konfusius Festival VI</h1>

  <!-- Main Grid Layout -->
  <div class="main-grid">
    <!-- Left Section - Image Sliders -->
    <section class="left-section"><app-image-container /></section>

    <!-- Middle Section - Main Content -->
    <section class="middle-section">
      <div class="content-wrapper">
        <h2>Liebe Freunde der Sonne & der guten Laune</h2>
        <div [innerHTML]="this.introText()"></div>
        <div [innerHTML]="this.programText()"></div>
      </div>
    </section>

    <!-- Right Section - Quick Info -->
    <section class="right-section">
      <div class="info-box">
        <h3>Eckdaten</h3>
        <ul>
          <li>Ort: St.Konfusius Kloster (irgendwo im Rheingau)</li>
          <li>Datum: 23-25. Mai 2025</li>
          <li>Festival & Camping für 180 Personen</li>
          <li>
            Anmeldezeitraum: 23.03. - 30.04.2025 (19:00 Uhr Anmeldeschluss)
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- Bottom Section -->
  <section class="info-tabs-section"><app-info-tabs /></section>
</div>
