<div class="home-container">
  <!-- Top Image -->
  <div class="image-container">
    <img
      src="assets/konfusius_cropped.jpg"
      alt="konfusius"
      class="header-image"
    />
  </div>

  <!-- Title -->
  <h1 class="title">Konfusius Festival VI</h1>

  <!-- New Grid Layout - 2 columns -->
  <div class="main-grid">
    <!-- Left Column - Main Content-->
    <section class="content-section">
      <div class="content-wrapper">
        <h2>Liebe Freunde der Sonne & der guten Laune</h2>
        @if (introText(); as p) {
          <div [innerHTML]="p.content.rendered | safeHtml"></div>
        }
        @if (introText2(); as p) {
          <div [innerHTML]="p.content.rendered | safeHtml"></div>
        }
      </div>
    </section>

    <!-- Right Column - Info Box -->
    <section class="right-column">
      <!-- Info Box -->
      <app-info-box />
    </section>
  </div>

  <!-- Bottom Section -->
  <!-- Image Slider -->
  <div class="slider-container">
    <app-image-container />
  </div>
  <section class="info-tabs-section"><app-info-tabs /></section>
</div>
