<div class="cart-totals-container">
  <h2>Übersicht</h2>

  <div *ngIf="!hasItem" class="empty-cart">Your cart is empty</div>

  @if (mainCartItem(); as mainItem) {
    <div *ngIf="hasItem" class="cart-items">
      <div class="cart-item">
        <div class="cart-item-header">
          {{ mainItem.name }}
        </div>

        <div class="cart-item-details">
          @if (mainItemIsVariable()) {
            <div class="cart-item-detail">
              <span class="detail-label">{{ variation?.attribute }}:</span>
              <span
                class="detail-value"
                [innerHTML]="variation?.value | safeHtml"
              ></span>
            </div>
          }

          <div class="cart-item-detail">
            <span class="detail-label">Kostenbeitrag:</span>
            <span class="detail-value">{{
              getCartItemTotalPrice(mainItem)
            }}</span>
          </div>

          <div class="cart-item-detail">
            <span class="detail-label">{{ ticketCategory }}</span>
            <span class="detail-value"
              >+{{ getCartItemTotalPrice(crossSaleCartItem()) }}</span
            >
          </div>
        </div>
      </div>
    </div>
  }

  <div *ngIf="hasItem" class="totals-section">
    <div class="totals-row total">
      <span>Gesamt:</span>
      <span>{{ cartTotalPrice }}</span>
    </div>
  </div>
</div>
