<div class="cart-totals-container">
  <h2>Bestellübersicht</h2>

  <div *ngIf="!hasItem" class="empty-cart">Your cart is empty</div>

  <table *ngIf="hasItem" class="cart-table">
    <thead>
      <tr>
        <th>Schicht</th>
        <th>{{ cartItem()!.variation[0].attribute }}</th>
        <th>Preis</th>
        <th>Anz</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cartItem()?.name }}</td>
        <td>
          <span [innerHTML]="cartItem()!.variation[0].value | safeHtml"></span>
        </td>
        <td>
          {{ cartItemSubTotalPrice }} {{ cartItem()!.totals.currency_symbol }}
        </td>
        <td>{{ cartItem()?.quantity }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="hasItem" class="totals-section">
    <div class="totals-row total">
      <span>Total:</span>
      <span>{{ cartTotalPrice }} {{ cartItem()!.totals.currency_symbol }}</span>
    </div>
  </div>
</div>
