@use '@angular/material' as mat;
@use './style-vars.scss' as *;

// https://material.angular.io/guide/theming
// https://angular-material.dev/articles/customizing-angular-material-button

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 600,
        regular-weight: 500,
      ),
      density: 0,
    )
  );
}

// aggressive reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 85vh;
  margin: 50px auto 0;
  width: 100%;
  max-width: 1400px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
}

* {
  outline: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: $text-color;
  margin: 10px 0;
}

li {
  color: $text-color;
  margin: 10px 0;
  font-size: 1.1rem;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides(
    (
      enabled-trigger-text-color: rgb(0, 0, 0),
      container-elevation-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5),
    )
  );
}

/* Error message styling */
mat-error {
  color: #f44336;
  font-size: 0.875rem;
  display: block; // Ensures the error message is on its own line
  margin-top: 4px; // Adds some spacing between the input and the error message
}
