<div class="billing-container">
  <h2>Kontaktdaten</h2>
  <p>
    Eure Daten werden natürlich streng vertraulich behandlet und alleinigst zum
    Zwecke der internen Verarbeitung genutzt.
  </p>
  <mat-divider />
  <form class="billing_address" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Billing Address Section -->
    <div class="form-section" formGroupName="billingAddress">
      <mat-error
        *ngIf="
          hasError(firstName, 'required') || hasError(firstName, 'minlength')
        "
      >
        Vorname ist erforderlich (mind. 2 Ziffern)
      </mat-error>
      <input
        id="first_name"
        type="text"
        formControlName="first_name"
        autocomplete="given-name"
        placeholder="First Name*"
      />

      <mat-error
        *ngIf="
          hasError(lastName, 'required') || hasError(lastName, 'minlength')
        "
      >
        Nachname ist erforderlich (mind. 2 Ziffern)
      </mat-error>
      <input
        id="last_name"
        type="text"
        formControlName="last_name"
        autocomplete="family-name"
        placeholder="Last Name*"
      />

      <mat-error *ngIf="hasError(address1, 'required')">
        Straße + Nr. ist erforderlich
      </mat-error>
      <input
        id="address_1"
        type="text"
        formControlName="address_1"
        autocomplete="address-line1"
        placeholder="Street & Number*"
      />

      <mat-error *ngIf="hasError(city, 'required')">
        Wohnort ist erforderlich
      </mat-error>
      <input
        id="city"
        type="text"
        formControlName="city"
        autocomplete="address-level2"
        placeholder="City*"
      />

      <mat-error
        *ngIf="
          (formGroup.get('billingAddress')?.get('postcode')?.invalid &&
            formGroup.get('billingAddress')?.get('postcode')?.touched) ||
          formGroup.get('billingAddress')?.get('postcode')?.hasError('pattern')
        "
      >
        Bitte gültige PLZ eingeben (4-10 Stellen)
      </mat-error>
      <input
        id="postcode"
        type="text"
        formControlName="postcode"
        autocomplete="postal-code"
        placeholder="ZIP Code*"
        patternZip="'^[0-9]{4,10}$'"
      />

      <mat-error
        *ngIf="
          (formGroup.get('billingAddress')?.get('country')?.invalid &&
            formGroup.get('billingAddress')?.get('country')?.touched) ||
          formGroup.get('billingAddress')?.get('country')?.hasError('pattern')
        "
      >
        Bitte hier einen 2-stelligen ISO-Ländercode eingeben (zB. AT, DE, CH...)
      </mat-error>
      <input
        id="country"
        type="text"
        formControlName="country"
        autocomplete="country"
        placeholder="Country*"
        [pattern]="'^[A-Z]{2}$'"
      />

      <mat-error
        *ngIf="hasError(email, 'required') || hasError(email, 'email')"
      >
        Die eMail-Addresse muss einem gültigen Format entsprechen
      </mat-error>
      <input
        id="email"
        type="email"
        formControlName="email"
        autocomplete="email"
        placeholder="Email*"
      />

      <mat-error *ngIf="hasError(phone, 'pattern')">
        Ungültiges Format der Rufnummer
      </mat-error>
      <input
        id="phone"
        type="tel"
        formControlName="phone"
        autocomplete="tel"
        placeholder="Phone (optional)"
      />
    </div>

    <mat-divider />

    <!-- Dropdown Select -->
    <div class="form-section">
      <mat-form-field class="invited-by">
        <mat-label>Eingeladen von? (Kontaktperson)</mat-label>
        <mat-select formControlName="invited_by">
          <mat-option
            *ngFor="let option of allowedInvitedByOptions()"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="hasError(invitedBy, 'required')">
        Bitte wähle eine Kontaktperson aus.
      </mat-error>
    </div>

    <!-- Checkbox for consent -->
    <section class="form-section">
      <p>
        <mat-checkbox formControlName="consent"></mat-checkbox>
        Hiermit bestätige ich die
        <strong>
          <a class="link" (click)="openRulesDialog($event)"
            >Konfusen Gebote</a
          ></strong
        >
        zu achten.
      </p>
      <mat-error *ngIf="hasError(consent, 'required')">
        Die Bestätigung der Gebote ist erforderlich.
      </mat-error>
    </section>

    <div class="form-section">
      <textarea
        id="comments"
        formControlName="comments"
        [placeholder]="commentPlaceholder"
        rows="4"
        cols="50"
      ></textarea>
    </div>

    <mat-divider />

    <section class="form-section">
      <button
        mat-raised-button
        type="submit"
        [disabled]="formGroup.invalid"
        class="submit-button"
      >
        Anmeldung Bestätigen
      </button>
    </section>
  </form>
</div>
