.product-details-dialog {
  position: relative; /* Required for positioning the close button */
  display: flex;
  flex-direction: column;
  align-items: center; // Centers items horizontally
  padding: 24px;
  max-height: 90vh; // Ensures it doesn’t exceed 90% of viewport height
  overflow-y: auto; // Enables vertical scrolling if needed
}

.product-content {
  max-width: 600px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin: 0;
}

.product-detail-image {
  width: 100%;
  max-width: 400px;
  max-height: 350px;
  height: auto;
  margin: auto 16px;
}

.close-button {
  position: absolute; /* Position it relative to the dialog */
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  padding: 8px;
  color: #666;
  font-size: 24px;
}

.close-button:hover {
  color: #000;
}
