<div class="loading-container" *ngIf="!productsLoaded()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="200"
    height="200"
    viewBox="0 0 200 200"
  >
    <style>
      @keyframes orbitCircle {
        0% {
          transform: translate(50px, 0) rotate(0deg);
        }
        25% {
          transform: translate(0, 50px) rotate(90deg);
        }
        50% {
          transform: translate(-50px, 0) rotate(180deg);
        }
        75% {
          transform: translate(0, -50px) rotate(270deg);
        }
        100% {
          transform: translate(50px, 0) rotate(360deg);
        }
      }
      @keyframes changeColor {
        0% {
          fill: red;
        }
        33% {
          fill: blue;
        }
        66% {
          fill: green;
        }
        100% {
          fill: red;
        }
      }
      .circle-group {
        transform-origin: 100px 100px;
        animation: orbitCircle 4s infinite linear;
      }
      .animated-circle {
        animation: changeColor 6s infinite;
      }
    </style>

    <rect width="100%" height="100%" fill="white" />

    <!-- Group for rotation around center -->
    <g class="circle-group">
      <circle cx="100" cy="100" r="30" class="animated-circle" />
    </g>
  </svg>

  <p>Loading...</p>
</div>

<mat-grid-list cols="5" rowHeight="1:1.4" gutterSize="16px">
  <mat-grid-tile *ngFor="let product of products()">
    <product
      [product]="product"
      [isSelected]="isSelected(product)"
      (productSelected)="selectProduct(product)"
    ></product>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="this.cartService.addProductToCart(1547)">Test</button>
