<div class="checkout-container">
  <h1>Checkout</h1>

  <!-- loading spinner for an individual product and their variations -->
  <div class="fixed-spinner" *ngIf="loading$ | async">
    <mat-spinner [diameter]="45" />
  </div>

  <div class="checkout-content">
    <div class="billing-section">
      <app-billing
        (formSubmit)="onBillingFormSubmit($event)"
        [cart]="cart()"
        [allowedInvitedByOptions]="allowedOptions()"
        [rules]="rules()"
      ></app-billing>
    </div>

    <div class="cart-section">
      <app-cart-totals
        [cartTotals]="cartTotals()"
        [mainCartItem]="mainItem"
        [crossSaleCartItem]="crossSaleItem"
      ></app-cart-totals>
      <app-conditions [disclaimerState]="disclaimerState"> </app-conditions>
    </div>
  </div>
</div>
