@use 'src/styles/style-vars.scss' as *;
@use 'sass:map';

.order-overview {
  max-width: 800px;
  margin: 2rem auto;
  border-radius: $default-border-radius;
  font-family:
    $base-font,
    -apple-system,
    sans-serif;
  box-shadow: $shadow-sm;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: $default-box-shadow;
    transform: translateY(+5px);
  }

  p {
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  h1 {
    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }
}

.overview-loaded {
  background-color: $background-color-form;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
}

.error {
  color: $error-color;
}

.order-text {
  border: 1px dashed #6bf7f7;
  padding: 0.5rem;
  border-radius: $default-border-radius;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.order-status {
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;

  @each $status, $styles in $order-status {
    &.#{$status} {
      background-color: map.get($styles, background-color);
      color: map.get($styles, color);
    }
  }
}

.order-container {
  padding: 1rem;
}

.order-details {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }
}

.order-items {
  h2 {
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid $white-grey-color;
    }

    th {
      font-weight: 500;
      color: #666;
    }

    tfoot {
      font-weight: 600;

      .total-label {
        text-align: right;
      }

      .total-value {
        font-size: 1.1em;
      }
    }
  }
}
