<div
  class="order-overview"
  [ngClass]="{ 'overview-loading': loading(), 'overview-loaded': !loading() }"
>
  <div *ngIf="loading()" class="loading">Loading order details...</div>

  <div *ngIf="error()" class="error">
    {{ error() }}
  </div>

  <div *ngIf="order() && !loading()" class="order-container">
    <header class="order-header">
      <h2>Anmeldung #{{ _order.id }}</h2>
      <span class="order-status" [class]="_order.status.toLowerCase()">
        {{ _order.status }}
      </span>
    </header>

    <div class="order-details">
      <div class="order-info">
        <p>
          <strong>vom:</strong> {{ _order.date_created | humanReadableDate }}
        </p>
      </div>

      <div class="order-shipping">
        <h3>Kontakt</h3>
        <address>
          <p>{{ _order.billing.first_name }} {{ _order.billing.last_name }}</p>
          <p>{{ _order.billing.address_1 }}</p>
          <p>
            {{ _order.billing.city }},
            {{ _order.billing.postcode }}
          </p>
          <p>{{ _order.billing.country }}</p>
        </address>
      </div>
    </div>

    <div class="order-text">
      <p>
        Du solltest jetzt eine email bekommen haben, mit einem Link zum
        Bestellstatus. Ist der Umkostenbeitrag bei der Kontaktperson angekommen,
        setzten wir den Status von 'processing' auf 'completed'
        <mat-icon>favorite</mat-icon>
      </p>
      <p>
        <strong
          >PS: Du kannst dir die URL oben rauskopieren & speichern, um zu dieser
          Seite zurückzukehren</strong
        >
      </p>
    </div>
    <div class="order-items">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th class="price">Preis</th>
            <th class="price">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _order.line_items">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td class="price">
              {{ item.price.toFixed(2) }}{{ _order.currency_symbol }}
            </td>
            <td class="price">
              {{ (item.quantity * item.price).toFixed(2)
              }}{{ _order.currency_symbol }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="total-label">Kostenbeitrag</td>
            <td class="total-value">
              {{ _order.total }}{{ _order.currency_symbol }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
