@use 'src/styles/style-vars.scss' as *;

main {
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  margin-top: calc($nav-height + 20px);
  width: auto;
  min-height: 85vh;
  max-width: max(1600px, 60vw);
  flex-grow: 1;
}
