<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">
    <div class="image-container">
      <img src="assets/schweini_1.png" alt="Logo" class="form-field-image" />
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Passwort</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
        (input)="onInput()"
        (blur)="updateErrorMessage()"
        required
      />
      <!-- error message -->
      <mat-error
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>

    <!-- button to submit the form -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.touched"
    >
      Anmelden
    </button>
  </form>
</div>
