/* Container to center the form */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

/* Image inside form field */
.form-field-image {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 5%;
}

/* Styling the form */
form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Styling the mat-form-field */
mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

/* Button styling */
button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid #007bff;
  background-color: #007bff; /* Primary color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
}

/* Styling input fields and form control */
mat-form-field input {
  font-size: 1rem;
}
