@if (visible) {
  <div class="hint">
    <i class="pi pi-info-circle"></i>
    <span class="hint-text">
      <ng-content />
    </span>
    <p-button
      icon="pi pi-times"
      severity="secondary"
      (click)="dismiss()"
      [outlined]="true"
      [rounded]="true"
      size="small"
      pTooltip="ausblenden"
      tooltipPosition="bottom"
    ></p-button>
  </div>
} @else if (withShowButton()) {
  <p-button
    icon="pi pi-info-circle"
    severity="secondary"
    [outlined]="true"
    [rounded]="true"
    size="small"
    (click)="show()"
  ></p-button>
}
