@if (visible()) {
  <div class="hint-container">
    <span class="hint-text">
      <div class="primary-container">
        <i class="pi pi-info-circle"></i>
        <div>
          <ng-content />
        </div>
        <p-button
          icon="pi pi-times"
          severity="secondary"
          (click)="dismiss()"
          [outlined]="true"
          [rounded]="true"
          size="small"
          pTooltip="ausblenden"
          tooltipPosition="bottom"
          label="Ok cool"
        ></p-button>
      </div>
      <div class="hint-actions">
        <ng-content select=".hint-start" />
        <ng-content select=".hint-center" />
        <ng-content select=".hint-end" />
      </div>
    </span>
  </div>
} @else if (withShowButton()) {
  <p-button
    icon="pi pi-info-circle"
    severity="secondary"
    [outlined]="true"
    [rounded]="true"
    size="small"
    (click)="show()"
  ></p-button>
}
