<div class="billing-container">
  <h2>Rechnungsadresse</h2>
  <form [formGroup]="billingForm" (ngSubmit)="onSubmit()">
    <input
      id="first_name"
      type="text"
      formControlName="first_name"
      autocomplete="given-name"
      placeholder="First Name*"
    />
    <mat-error
      *ngIf="
        billingForm.controls['first_name'].invalid &&
        billingForm.controls['first_name'].touched
      "
    >
      First Name is required (min 2 characters).
    </mat-error>

    <input
      id="last_name"
      type="text"
      formControlName="last_name"
      autocomplete="family-name"
      placeholder="Last Name*"
    />
    <mat-error
      *ngIf="
        billingForm.controls['last_name'].invalid &&
        billingForm.controls['last_name'].touched
      "
    >
      Last Name is required (min 2 characters).
    </mat-error>

    <input
      id="address_1"
      type="text"
      formControlName="address_1"
      autocomplete="address-line1"
      placeholder="Street & Number*"
    />

    <input
      id="city"
      type="text"
      formControlName="city"
      autocomplete="address-level2"
      placeholder="City*"
    />

    <input
      id="state"
      type="text"
      formControlName="state"
      autocomplete="address-level1"
      placeholder="State*"
    />

    <input
      id="postcode"
      type="text"
      formControlName="postcode"
      autocomplete="postal-code"
      placeholder="ZIP Code*"
    />
    <mat-error
      *ngIf="
        billingForm.controls['postcode'].invalid &&
        billingForm.controls['postcode'].touched
      "
    >
      Enter a valid 5-digit ZIP code.
    </mat-error>

    <input
      id="country"
      type="text"
      formControlName="country"
      autocomplete="country"
      placeholder="Country*"
    />

    <input
      id="email"
      type="email"
      formControlName="email"
      autocomplete="email"
      placeholder="Email*"
    />
    <mat-error
      *ngIf="
        billingForm.controls['email'].invalid &&
        billingForm.controls['email'].touched
      "
    >
      Enter a valid email address.
    </mat-error>

    <input
      id="phone"
      type="tel"
      formControlName="phone"
      autocomplete="tel"
      placeholder="Phone"
    />
    <mat-error
      *ngIf="
        billingForm.controls['phone'].invalid &&
        billingForm.controls['phone'].touched
      "
    >
      Enter a valid phone number.
    </mat-error>

    <button mat-raised-button="submit" [disabled]="billingForm.invalid">
      Adressinformationen Bestätigen
    </button>
  </form>
</div>
