<header>
  <mat-toolbar class="header-toolbar" [class.scrolled]="isScrolled">
    <div class="container">
      <div class="logo-container">
        <a routerLink="/" class="logo-link">
          <img
            src="./public/logo_stretched_nav.png"
            alt="Logo"
            class="logo-image"
          />
        </a>
      </div>

      <!-- Desktop Navigation -->
      <div class="nav-links desktop-nav">
        <span
          matTooltip="Die Anmeldung ist noch nicht freigeschaltet"
          [matTooltipPosition]="'above'"
          matTooltipHideDelay="200"
          matTooltipShowDelay="100"
          [matTooltipDisabled]="ticketsActive()"
        >
          <button
            mat-button
            routerLink="/tickets"
            routerLinkActive="active-link"
            [disabled]="!ticketsActive()"
          >
            <mat-icon>confirmation_number</mat-icon>
            Zur Anmeldung
          </button>
        </span>

        <button mat-button routerLink="/faq" routerLinkActive="active-link">
          <mat-icon>help_outline</mat-icon>
          FAQ
        </button>

        <button
          mat-button
          routerLink="/login"
          routerLinkActive="active-link"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
          logout
        </button>
      </div>

      <!-- Mobile Navigation Toggle -->
      <button
        mat-icon-button
        class="menu-toggle"
        [class.active]="isMenuOpen()"
        (click)="toggleMenu()"
        aria-label="Toggle navigation menu"
      >
        <mat-icon>{{ isMenuOpen() ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- Mobile Navigation Menu -->
  <div class="mobile-nav" [class.open]="isMenuOpen()">
    <div class="mobile-nav-links">
      <a
        mat-button
        [routerLink]="ticketsActive() ? '/tickets' : null"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        [class.disabled-mobile-nav-option]="!ticketsActive()"
      >
        <mat-icon>confirmation_number</mat-icon>
        {{
          ticketsActive() ? 'Zur Anmeldung' : 'Zur Anmeldung (bald verfügbar)'
        }}
      </a>

      <a
        mat-button
        routerLink="/faq"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
      >
        <mat-icon>help_outline</mat-icon>
        FAQ
      </a>

      <a
        mat-button
        routerLink="/login"
        routerLinkActive="active-link"
        (click)="toggleMenu(); logout()"
      >
        <mat-icon>logout</mat-icon>
        logout
      </a>
    </div>
  </div>
</header>
