<div class="checkout" *ngIf="product">
  <!-- loading progress for checkout -->
  <div *ngIf="loadingCheckout$ | async">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>

  <div class="checkout-content">
    <div class="left-container">
      <h4>Schicht: {{ product().name }}</h4>
      <p>
        Regulärer Preis:
        <strong>{{ formattedPrice }}</strong>
      </p>
    </div>

    <div class="middle-container">
      <div *ngIf="isProductVariable">
        <mat-form-field
          class="slimline"
          appearance="outline"
          matTooltip="Es sind leider keine Zeiten mehr für diese Schicht verfügbar"
          [matTooltipDisabled]="productVariations.length !== 0"
          subscriptSizing="dynamic"
        >
          <mat-label>Wähle eine Zeit</mat-label>
          <mat-error *ngIf="selectForm.invalid"
            >Zeit ist für diese Schicht notwendig</mat-error
          >
          <mat-select
            [formControl]="selectForm.controls['variationId']"
            panelWidth="auto"
            [required]="isProductVariable"
            [disableControl]="productVariations.length === 0"
          >
            <mat-option
              *ngFor="let option of productVariations"
              [value]="option.id"
            >
              <span>{{ option.variation | variationInterval }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      @if (crossSaleItems()) {
        <app-cross-sale-options
          [crossSaleItems]="crossSaleItems()"
          (crossSaleProductSelected)="onCrossSaleSelected($event)"
          [disableOptionsForm]="disableCrossSale()"
        ></app-cross-sale-options>
      }
    </div>

    <div class="right-container">
      <div
        class="checkout-button-row"
        matTooltip="Schicht / Zeit nicht mehr verfügbar"
        [matTooltipDisabled]="isCheckoutValid"
      >
        <button
          [disabled]="!isCheckoutValid"
          mat-raised-button
          color="primary"
          (click)="checkout()"
        >
          <span class="checkout-label">Weiter zum Checkout</span>
        </button>
      </div>
    </div>
  </div>
</div>
