@use 'src/styles/style-vars.scss' as *;

.info-box ::ng-deep {
  background: rgba(255, 255, 255, 0.9);
  padding: 0 1rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;

  li {
    margin: 1rem 0;
  }

  h3 {
    margin: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style: none;

    li {
      position: relative;

      &:before {
        content: '❧ ';
        color: $primary-color;
        left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
