@use '@angular/material' as mat;

// https://material.angular.io/guide/theming
// https://angular-material.dev/articles/customizing-angular-material-button

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

/* 
background: url(./assets/b_prediction1.png) no-repeat center;
background-size: cover;
height: 100%;
background-attachment: scroll; Allows the background to scroll with the content
 */

html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  padding-bottom: 150px;
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: #292929;
  margin: 10px 0;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides(
    (
      enabled-trigger-text-color: red,
      container-elevation-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5),
    )
  );
}
