@use '@angular/material' as mat;

// https://www.fusonic.net/de/blog/angular-material-customization

html {
  // Tooltip
  /* border-radius */
  --mdc-plain-tooltip-container-shape: 10px;
  /* color */
  --mdc-plain-tooltip-container-color: #9fffd7c5;
  --mdc-plain-tooltip-supporting-text-color: #000000;

  /* typography */ 
  --mdc-plain-tooltip-supporting-text-line-height: 16px
  --mdc-plain-tooltip-supporting-text-font: Roboto, sans-serif;
  --mdc-plain-tooltip-supporting-text-size: 16px;
  --mdc-plain-tooltip-supporting-text-weight: 500;
  --mdc-plain-tooltip-supporting-text-tracking: .0333333333em
}

html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  padding-bottom: 150px;
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: #292929;
  margin: 10px 0;
}

/* Additional Global Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides(
    (
      panel-background-color: orange,
      enabled-trigger-text-color: red,
      container-elevation-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5),
    )
  );
}
