@use './styles/style-vars.scss' as *;

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  will-change: transform, opacity;
  box-shadow: $shadow-sm;
}

// Navigation buttons
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 5rem; // Increased button size
  height: 3rem; // Increased button size

  &.prev-button {
    left: 16px;
  }

  &.next-button {
    right: 16px;
  }

  &.prev-button-fs {
    left: 5vw;
    background-color: $transparent-white;
  }

  &.next-button-fs {
    right: 5vw;
    background-color: $transparent-white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  mat-icon {
    color: #333;
    font-size: 4rem; // Much larger icon size
    height: 4rem; // Match the font-size
    width: 4rem; // Match the font-size
    line-height: 4rem; // Better vertical alignment
    top: 50%;
    transform: translateY(-50%);
  }
}

// Dot indicators
.carousel-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.3rem;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background-color: white;
    transform: scale(1.5);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

// Responsive adjustments
@media (max-width: $breakpoint-mobile) {
  .nav-button {
    transform: translateY(-50%) scale(0.5);

    &.prev-button {
      left: 0;
    }

    &.next-button {
      right: 0;
    }
  }

  .carousel-dots {
    bottom: 3px;
    gap: 0.15rem;

    .dot {
      width: 4px;
      height: 4px;
    }
  }
}

// Touch area improvements for mobile
@media (hover: none) {
  .nav-button {
    opacity: 0.8;

    &:active {
      opacity: 1;
    }
  }
}

// Fullscreen

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/* Fullscreen Button on Image */
.fullscreen-button {
  position: absolute;
  top: 1rem;
  right: 3rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;

  mat-icon {
    transition: transform 0.1s ease-in-out;
  }

  &:hover mat-icon {
    transform: scale(1.5);
  }

  &:active mat-icon {
    animation: pulse 0.1s ease-in-out;
  }
}
